.buttons, .inputs ,.grids,.layouts,.toasts{
    margin: 2em;
}

li {
    list-style-type: none;padding: 1em;
}
.grids{
    min-height: 100px;background:#D6E9FF ;
}
.grids >.yv-row {
    height:6em;margin-bottom: 1em;
}
.grids >.yv-row >.yv-col:nth-child(2n) {
    background:#8A886E ;
}
.grids >.yv-row >.yv-col:nth-child(2n+1) {
    background:#6BBCF0;
}
.yv-col>div{
    border: 1px solid;
    background: #999EFF;height:100%;
}
.yv-col.g{
    background: none !important;
}

.layouts{
    background:#8A886E ;min-height:100vh;
}
.layouts> .yv-layout{
    height: 100vh;
}
.yv-layout{
    border: 1px solid;margin-bottom: 2em;
}
.yv-layout > div {
    background: #FCD9D6;
    margin:1em;
    min-height: 100px;border: 1px solid;
}
.yv-toast > .msg{
    color:red;
}
.toasts{

}