:root{
    --font-size:14px;
    --button-bg:white;
    --button-radius:4px;
    --border-color:#999;
    --button-hover-bg-color:#eee;
    --color:#333;
}
body{
    font-size: var(--font-size);
    color: var(--color);
}

*,*::before,*::after{
    margin:0;padding:0;box-sizing:border-box;
}