
@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}


@keyframes fade-in-top {
    0%{
        opacity: 0;

        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-in-center {
    0%{
        opacity: 0;

        transform: rotate3d(0,0,0,0deg) ;
    }
    100%{
        opacity: 1;
        transform: rotate3d(1,1,1,360deg) ;
    }
}
@keyframes fade-in-bottom {
    0%{
        opacity: 0;

        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}