$button-height: 30px;
$border-radius: 4px;
$font-size: 14px;
$small-padding: 4px;
$middle-padding: .5em;
$border-color: #D9D9D9;
$input-height: 2.28em;
$border-hover-color: #666;
$box-shadow-color: rgba(0, 0, 0, .5);
$warn-color: #FE6158;

$toast-bg: #000;
$toast-padding: .5em;
$toast-width: 20em;
$blue: #42AAFF;
$light-blue: #E7F7FF;
$popover-margin: 8px;
$light-border-color: #E1E1E1;
$background-color: #FAFAFA;

%box-shadow {
  box-shadow: 0 0 5px $box-shadow-color;
}


//@extend  来引用
%disabled {
  cursor: not-allowed;
  color: $light-border-color;

  svg {
    fill: $light-border-color;
  }
}

%border {
  border: 1px solid $border-color;
}

%border-radius {
  border-radius: $border-radius;
}

$small-font-size: 12px;


body {
  font-size: $font-size;
  color: #333;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
th,td{
  border:none;
  padding: 0;
}
tr{
  border-top:none;
}
tr:nth-child(2n){
  background: none;
}