

$border-radius:4px;
$font-size:14px;
$small-padding:4px;
$middle-padding:.5em;
$border-color:#999;
$input-height:2.28em;
$border-hover-color:#666;
$box-shadow-color:rgba(0,0,0,.5);
$warn-color:#FE6158;